[core]
	excludesfile = /Users/aptenodytes/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = thornbeam
	email = thornbeam@posteo.eu
[alias]
	ad = add
	aA = add -all
	df = diff
	lg = log
	sw = show
	st = status
	br = branch
	bA = branch --all
	bR = branch --remote
	cM = commit -m
	co = checkout
	mg = merge
	rs = restore
	rH = reset --hard
	rH1 = reset --hard HEAD~1
	pl = pull
	ps = push
	tg = tag
	ft = fetch
	fP = fetch --prune
[includeIf "gitdir:~/Projects/BfB/"]
    path = ~/Projects/bfb/.gitconfig_include
